html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 100%;
    justify-content: center;
    min-height: 57.5rem;
}

body * {
    box-sizing: border-box;
}

header {
    box-sizing: border-box;
    flex: 0 1 auto;
    text-align: center;
    padding:5rem;
}

h1 {
    font-size: 3.5rem;
    margin: 0 3.5rem;
}

h2 {
    font-size: 3rem;
    margin: 3rem 0 3rem 0;
}

h2 #about {
    letter-spacing: 3rem;
}
img {
    width: 30%;
    max-width: 64rem;
}

#me {
    clip-path: circle(65px at center);
    align-self: center;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 100%;
}

#me-layer {
    background: url("/img/outline-me.svg");
    background-repeat: no-repeat;
    background-size: 30%;
    position: absolute;
    width:62rem;
    height:17rem;
    z-index: 99;
    margin-top: -3rem;

}

#me-image {
    display: flex;
    width: 20rem;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
  text-decoration: none;
  list-style-type: none;
}

abbr {
    text-decoration: none;
}

main {
    flex: 2 auto;
    margin: 0 auto;
    max-width: 60rem;
}

main > div {
    margin: 0 auto;

}

#links, #icons {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}

#icons img {
    width: 20%;
    height: 20%;
}

#icons {
    justify-content: space-around;
}

#links > #about, #projects, #experience {
    width: 20rem;
    text-align: center;
}
main > #menu {
    max-width: 60rem;
    margin-top: 50vh;
}

#projects, #about {
    scroll-behavior: smooth;
}

main p, main a, main h2, main ul {
    color: #FF0F0F;
    font-weight: 600;
    letter-spacing: .1rem;
}

main p, main a {
    font-size: 1rem;
}

main ul {
    padding-left: 0;
}

footer span {
    display: block;
}

footer a {
    color: #9E9E9E;
    font-style: italic;
    text-decoration: none;
}

#filesList {
  padding-top: 11rem;

}

.word-content p, .word-content ul {
    color: black;
    font-size: 1.4rem;
    letter-spacing: .02rem;
    line-height: 2.4rem;
}

.word-content {
    max-width: 60%;
    margin:0;
}

.left-align {
    margin-left: 50%;
}

#files {
    height: 80rem;
    min-width: 70rem;
}

.window {
  width: 35rem;
  margin: auto;
  position: absolute;
  border: solid .1rem black;
  left: calc(50% - 17.5rem);
  transition: top .5s 0s cubic-bezier(.1, 1.2, .3, 1),
              transform .5s 0s cubic-bezier(.1, 1.2, .3, 1),
              width .5s .5s cubic-bezier(.1, 1.2, .3, 1);
  background-color: white;
}

#title, #main-screen {
  border-bottom: solid .2rem black;
}

#title {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

#window-btns {
    display:flex;
    width: 5.2rem;
}

#window-btns li {
    padding: 0 .5rem 0 .5rem;
    color: #FF0F0F;
    font-weight: 600;
    letter-spacing: .1rem;
}

#main-screen {
  padding: 5rem;
}

#title, #footer-window {
  height: 3rem;
  padding-left: 1rem;
}

#footer-window li {
  list-style-type: none;
  text-align: right;
}

#footer-window {
    display: flex;
    justify-content: space-between;
}

#socials {
    display: flex;
}

#socials li {
    padding: 0 .5rem 0 .5rem;
}

#me-heading {
    display: flex;
    justify-content: space-between;
}

.screen-content {
  padding-bottom: 1rem;
}

#btn-maximize img {
    width:100%;
}

#btn-exit, #btn-minimize, #btn-maximize {
    cursor: pointer;
}

#btn-exit:hover, #btn-minimize:hover, #btn-maximize:hover {
     opacity: .7;
 }

.maximized .window {
    top: 0 !important;
    left:0 !important;
    min-width: 100%;
}

.maximized #main-screen {
    height: 40rem;
    padding-top:15rem;
}

.minimized .window {
    top: 100% !important;
    transform: translate(0, -3rem);
    min-width: 35rem;
    max-width: 75rem;
    left:0 !important;
    position: fixed;
}

.img-sweet {
    width:100%;
}

.word-content--projects {
    max-width: 100%;
}

a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 640px) {
    footer span {
        display: inline;
    }
}

